# IDE / OS
.vs/
.idea/
*.user
*.suo
.DS_Store
Thumbs.db

# Build
build/
out/
cmake-build-*/
CMakeUserPresets.json
compile_commands.json
.cache/

# Local packages / artifacts
dist/
dist_*/
*.zip
*.exe
*.pdb
*.obj
*.o
*.a
*.lib
*.dll
third_party/

# Logs
*.log
Typora_Hook_Log.txt

release-staging/

